[submodule "Abandoned-Object-Detection"]
	path = Abandoned-Object-Detection
	url = https://github.com/Grad-CSE2016/Abandoned-Object-Detection.git
[submodule "TrackingPeople"]
	path = TrackingPeople
	url = https://github.com/Grad-CSE2016/TrackingPeople.git
